
.TopBar {
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(220,220,220);
    text-align: center;
    min-height: 140px;

}
.TopBar-actionPanel {
	border-radius: 4px;
}
.TopBar-meta {
	width: 100%;
	background: rgb(212,212,212);
	position: relative;
	padding: 10px 0px;
	margin-bottom: 4px;

}
.TopBar-count {
	font-family: Helvetica;
	padding-top: 3px;
}
.TopBar-back {
	font-family: Helvetica;
	position: absolute;
	left: 10px;
	top: 13px;
	vertical-align: top;
	cursor: pointer;
}
.TopBar-more {
	font-family: Helvetica;
	position: absolute;
    right: 10px;
	top: 13px;
	vertical-align: top;
	cursor: pointer;
	
}
.TopBar-back:hover, .TopBar-more:hover {
	text-decoration: underline;
}
.TopBar-select {
	height: 30px;
	line-height: 30px;
	background: white;
	margin: 10px 4px;
	border-radius: 0px;
}
.TopBar-select:focus {
	outline: none;
}
.TopBar-action {
	display: inline-block;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 5px 2px;
	padding: 5px 10px;
	background: white;
	cursor: pointer;
}
.TopBar-action:hover {
	background: #3F51B5;
	color: rgb(247,247,247);
}
.TopBar-deleteAction {
	display: none;
}


.TopBar-subtitle {
  color: #424242;
  font-weight: 700;
  margin-right: 10px;
  display: inline-block;
  
}


@media screen and (min-width: 960px){
    .TopBar {
    	width: 820px;
    	text-align: center;
    	height: 100px;
    }
    .TopBar-action {
	    display: inline-block;
	    box-shadow: 0 1px 2px rgba(0,0,0,.2);
	    margin: 1px;
	    padding: 5px 10px;
	    background: white;
	    cursor: pointer;
   }
   .TopBar-deleteAction {
   	    width: auto;
   	    height: auto;
	    display: inline-block;
	    box-shadow: 0 1px 2px rgba(0,0,0,.2);
	    margin: 5px 2px;
	    padding: 5px 10px;
	    background: white;
	    cursor: pointer;
	    position: absolute;
	    right: 0px;
   }
   .TopBar-deleteAction:hover {
	    background: #D32F2F;
	    color: rgb(247,247,247);
   }
}