


/* 600px and below*/

@media screen and (max-width: 600px){
	.Book {
    	width: 100%;
    	display: inline-block;
    	vertical-align: top;
    	position: relative;
    	background: white;
    	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    	margin-bottom: 1px;
    	text-align: center;
        cursor: pointer;
        padding-right: 10px;
    }
    .Book:hover {
       box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    }
    .Book-check {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .Book-img {
    	width: 100px;
    	float: left;
    }
    .Book-title {
        padding: 10px;
        line-height: 1.2;
        text-align: left;
        height: 50px;
        overflow: hidden;
    }
    .Book-author {
    	padding: 10px;
    	line-height: 1.2;
    	color: rgb(100,100,100);
    	text-align: left;
    	height: 50px;
    	overflow: hidden;
    }
    .Book-wishList {
    	background: linear-gradient(180deg, rgb(226,205,148),rgb(193,163,103));
    	position: absolute;
    	bottom: 0px;
    	width: 100px;
    	font-family: 'Vollkorn', serif;
    	text-align: center;
    	font-size: 12px;
    }
}
/* 600px and up */
@media screen and (min-width: 600px){
	.Book {
    	width: 200px;
    	display: inline-block;
    	vertical-align: top;
    	position: relative;
    	background: white;
    	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    	margin: 4px;
    	text-align: center;
        cursor: pointer;
        
    }
    
    .Book:hover {
       box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    }
    .Book-check {
        position: absolute;
        top: 10px;
        left: 10px;
   
    }
    .Book-img {
    	height: 200px;
    }
    .Book-title {
        padding: 10px;
        line-height: 1.2;
        text-align: left;
        height: 50px;
        overflow: hidden;
    }
    .Book-author {
    	padding: 10px;
    	line-height: 1.2;
    	color: rgb(100,100,100);
    	text-align: left;
    	height: 50px;
    	overflow: hidden;
    }
    .Book-wishList {
    	background: linear-gradient(180deg, rgb(226,205,148),rgb(193,163,103));
    	position: absolute;
        font-size: 14px;
    	top: 180px;
        padding-top: 2px;
    	width: 100%;
    	font-family: 'Vollkorn', serif;
    	text-align: center;
    	
    }
}
