.Book-main {
    overflow:hidden;  
    _overflow:visible;  
    zoom:1;
}

/* 600px and below*/
@media screen and (max-width: 600px){
	.Book {
    	width: 100%;
    	display: inline-block;
    	vertical-align: top;
    	position: relative;
    	background: white;
    	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    	margin-bottom: 1px;
    	text-align: left;
        cursor: pointer;
        padding-right: 10px;
    }
    .Book:hover {
       box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    }
    .Book-person {
       
    }
    .Book-currentPersonSet {
        display: inline-block;
    }
    .Book-currentPersonArrow {
        display: inline-block;
        width: 20px;
        padding-top: 25px;
        border-top: 2px dotted rgb(136,136,136);

    }
    .Book-arrow {
       /* right */
       width: 0; 
       height: 0; 
       border-top: 8px solid transparent;
       border-bottom: 8px solid transparent;
       border-left: 8px solid rgb(136,136,136);
       display: inline-block;
       margin-top: 16px;
       vertical-align: top;
    }

    .Book-check {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .Book-img {
    	width: 100px;
    	float: left;

    }
    .Book-title {
        padding: 10px;
        line-height: 1.2;
        text-align: left;
        height: 50px;
        overflow: hidden;
    }
    .Book-author {
    	padding: 10px;
    	line-height: 1.2;
    	color: rgb(100,100,100);
    	text-align: left;
    	height: 50px;
    	overflow: hidden;
    }
    .Book-wishList {
    	background: linear-gradient(180deg, rgb(226,205,148),rgb(193,163,103));
    	position: absolute;
    	bottom: 0px;
    	width: 100px;
    	font-family: 'Vollkorn', serif;
    	text-align: center;
    	font-size: 12px;
    }
}
/* 600px and up */
@media screen and (min-width: 600px){
	.Book {
    	width: 200px;
    	display: inline-block;
    	vertical-align: top;
    	position: relative;
    	background: white;
    	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    	margin: 4px;
    	text-align: center;
        cursor: pointer;
        position: relative;
        
    }
    
    .Book:hover {
       box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    }
    .Book-person {
       position: absolute;
       right: 5px;
       top: 5px;

    }
    .Book-currentPersonArrow {
        width: 27px;
        height: 25px;
        border-right: 2px dotted rgb(136,136,136);

    }
    .Book-arrow {
       /* down */
       width: 0; 
       height: 0; 
       border-right: 8px solid transparent;
       border-left: 8px solid transparent;
       border-top: 8px solid rgb(136,136,136);
       margin-left: 18px;
       vertical-align: top;
    }
    .Book-check {
        position: absolute;
        top: 10px;
        left: 10px;
   
    }
    .Book-img {
    	height: 200px;
    }
    .Book-title {
        padding: 10px;
        line-height: 1.2;
        text-align: left;
        height: 50px;
        overflow: hidden;
    }
    .Book-author {
    	padding: 10px;
    	line-height: 1.2;
    	color: rgb(100,100,100);
    	text-align: left;
    	height: 50px;
    	overflow: hidden;
    }
    .Book-wishList {
    	background: linear-gradient(180deg, rgb(226,205,148),rgb(193,163,103));
    	position: absolute;
        font-size: 14px;
    	top: 180px;
        padding-top: 2px;
    	width: 100%;
    	font-family: 'Vollkorn', serif;
    	text-align: center;
    	
    }
}
