.SearchBar {
	margin-top: 10px;
	padding: 5px;
	text-align: center;
}
.SearchBar-input {
	width: 100%;
	padding: 5px 10px;
}
.SearchBar-input:focus {
	outline: none;
}
@media screen and (min-width: 600px){
	.SearchBar-input {
		width: 300px;
		padding: 5px 10px;
    }

}